extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleContact.css

block content 
    h1  Contact Us  
    div.container1
      <a href="https://instagram.com" target="_blank">Follow Us on Instagram</a> <br>
      <a href="https://facebook.com" target="_blank">Follow Us on facebook</a> <br>
      <a href="https://twitter.com" target="_blank">Follow Us on twitter</a> <br> 